@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/fonts/WEB/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('./assets/fonts/WEB/fonts/ClashDisplay-Medium.woff') format('woff'),
       url('./assets/fonts/WEB/fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: 'ClashDisplay-Medium', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
